@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Iransans';
    src: url('../fonts/IRANSansWeb.ttf') format('truetype');
    /* ??? .woff2 ????? ??? ?? ?? ?? ????? ??: */
    /* src: url('../fonts/IRANSansWeb.woff2') format('woff2'); */
}

body {
    font-family: 'Iransans', sans-serif;
}